
<div class="heading">
  <h1><%= name %></h1>
  <nav class="view">
    <button disabled="disabled"><i class="fa fa-reorder"></i></button>
    <button><i class="fa fa-camera"></i></button>
  </nav>
</div>

<table>
  <colgroup>
    <col width="25%">
    <col width="50%">
    <col width="25%">
  </colgroup>

  <thead>
  <tr>
    <th class="one student" data-model="student"><p>Students <a href="#" class="fa fa-chevron-up js-sort" data-direction="desc"></a> <a href="#" class="fa fa-chevron-down js-sort" data-direction="asc"></a></p></th>
    <th class="two parents" data-model="parents"><p>Parents</p></th>
    <th class="three tagged" data-model="tagged"><p>Tagged <a href="#" class="fa fa-chevron-up js-sort disable" data-direction="desc"></a> <a href="#" class="fa fa-chevron-down js-sort disable" data-direction="asc"></a></p></th>
  </tr>
  </thead>

  <tbody>

  </tbody>
</table>
