<h1><%= title %></h1>
<form action="#">

  <div class="form-errors"></div>

  <div class="group">
    <div>
      <label for="first_name">First name:</label>
      <input type="text" name="parent_first_name" id="first_name">
    </div>

    <div>
      <label for="last_name">Last name:</label>
      <input type="text" name="parent_last_name" id="last_name">
    </div>

  </div><!-- /.group -->
  <div class="group">
    <div>
      <label for="email">E-mail:</label>
      <input type="text" name="parent_email" id="email">
    </div>
  </div>

  <div class="group actions">
    <button type="submit" class="save">Save</button>
    <button type="submit" class="save_another">Save + Add new</button>
    <a href="#" class="close">Cancel</a>
    <a class="delete button" href="#"><i class="fa fa-times"></i> Delete parent</a>
  </div>

</form>
