
<td class="one student"><p><a href="#"><img src="<%= avatar_thumb %>" /> <%=first_name %> <%=last_name %></a></p></td>
<td class="two parents"><p></p></td>
<td class="three tagged"><p><a href="#">0 posts</a></p></td>
