<div class="btns">
  <a href="/post/<%=id%>" class="edit"><i class="fa fa-pencil"></i></i></a>
  <a href="#" class="delete"><i class="fa fa-times"></i></a>
</div>

<a href="/post/<%=id%>">
    <img src="<%= cover() %>" alt="image">
    <span class="headline"><%= name %></span>
</a>

