
<div id="sidebar" class="pushy pushy-left"></div>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Your Content -->
<div id="container">
    <!-- Menu Button -->
  <div class="menu-btn">&#9776; Menu</div>

  <div id="panel">

    <div id="filter">
      <i class="fa fa-search magnify"></i><input type="text" name="filter" class="filter" placeholder="Filter">
    </div>

    <nav id="add">
      <button data-effect="st-effect-7" class="class js-add-class">
        <span>Add <strong>Class</strong></span>
      </button>
      <button data-effect="st-effect-7" class="teacher js-add-teacher">
        <span>Add <strong>Teacher</strong></span>
      </button>
    </nav>

  </div><!-- /.panel -->

  <div id="content"></div>
</div>
