
<table>
  <colgroup>
    <col width="25%">
    <col width="50%">
    <col width="25%">
  </colgroup>

  <thead>
  <tr>
    <th class="one classes"><p>Classes <a href="#" class="fa fa-chevron-up"></a> <a href="#" class="fa fa-chevron-down"></a></p></th>
    <th class="two teachers"><p>Teachers <a href="#" class="fa fa-chevron-up"></a> <a href="#" class="fa fa-chevron-down"></a></p></th>
    <th class="three students"><p>Students <a href="#" class="fa fa-chevron-up"></a> <a href="#" class="fa fa-chevron-down"></a></p></th>
  </tr>
  </thead>

  <tbody></tbody>

</table>
