<h1><%= title %><a href="#" class="close"><i class="fa fa-times"></i></a></h1>

<form action="#">
  <div class="form-errors"></div>

  <div class="group">
    <div>
      <label for="first_name">First name:</label>
      <input type="text" name="teacher_first_name" id="first_name">
    </div>

    <div>
      <label for="last_name">Last name:</label>
      <input type="text" name="teacher_last_name" id="last_name">
    </div>
  </div><!-- /.group -->

  <div class="group">
    <div>
      <label for="email">E-mail:</label>
      <input type="text" name="teacher_email" id="email">
    </div>
  </div>

  <div class="group actions">
    <button type="submit" class="save">Save</button>
    <a class="button delete" href="#"><i class="fa fa-times"></i> Delete teacher</a>
  </div>

</form>
