<section class="details tab" id="details">
  <h2><span><i class="fa fa-pencil"></i> Click to edit</span></h2>
  <textarea id="name" name="name" class="title" placeholder="A unique headline goes here"></textarea>
  <textarea id="description" name="description" class="description" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquam magna sit amet est porttitor tempor. Nam dapibus molestie consequat."></textarea>

  <h2><span><i class="fa fa-tag"></i> Topics</span></h2>
  <select class="topics tags" multiple data-placeholder="Select Topics"></select>
</section>
