<section class="privacy tab" id="privacy">

  <h2><span><i class="fa fa-tag"></i> Publish to</span></h2>
  <p><input type="radio"> <label>Tagged Students</label></p>
  <p><input type="radio"> <label>Entire Class</label></p>
  <p><input type="radio"> <label>Everyone</label></p>
  <p><input type="radio"> <label>Hidden</label></p>

  <h2><span><i class="fa fa-tag"></i> Sharing</span></h2>
  <label class="label-switch">
    <input type="checkbox" />
    <div class="checkbox"></div>
  </label>

</section>
