<section id="container">
  <aside class="notificaiton">
      <p>
        <i class="fa fa-child icon"></i>
        <strong>It looks like you’re new.</strong> Please see our example <a class="quote" href="#">quotes</a> and <a class="gallery" href="#">galleries</a>
        <a class="close" href="#"><i class="fa fa-times"></i></a>
      </p>
  </aside>
  <section id="intro">
    <nav id="select_post_type">
      <a class="quote" href="/new_quote">
        <span><i class="fa fa-plus"></i> add <strong>quote</strong></span>
      </a>
      <!-- TODO: check href new_gallery or /admin/new_gallery-->
      <a class="gallery" href="/new_gallery">
        <span><i class="fa fa-plus"></i> add <strong>gallery</strong></span>
      </a>
    </nav><!-- /#select_post_type -->

    <figure id="Stage" class="gallery_instructions">
      <!-- Adobe edge svg animation here -->
    </figure>
  </section>

</section>
