<section class="details tab" id="details">
  <h2><span><i class="fa fa-pencil"></i> Click to edit</span></h2>
  <textarea id="description" name="description" class="description" placeholder="The lazy brown dog jumped over the fence."></textarea>

  <h2><span><i class="fa fa-tag"></i> Students</span></h2>
  <select id="student_ids" class="students tags" multiple data-placeholder="Select Students"></select>

  <h2><span><i class="fa fa-tag"></i> Topics</span></h2>
  <select class="topics tags" multiple data-placeholder="Select Topics"></select>
</section>
