<div class="btns">
  <a href="#" class="crop"><i class="fa fa-crop"></i></a>
  <a href="#" class="rotate"><i class="fa fa-rotate-left"></i></a>
  <a href="#" class="delete"><i class="fa fa-times"></i></a>
</div>

<div class="preview"></div>
